{% extends "base.html" %}


{% block content %}
    <h1>Bookmarks</h1>
    {% for bookmark in object_list %}
        <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="panel_title">
            <form action="{% url 'click_shortcut' bookmark.shortcut %}" method="post">
                {% csrf_token %}
                Title: <a href="{% url 'bookmark_detail' bookmark.id %}">{{ bookmark.title }}</a> -------- Shortcut:
                <input type="submit" value={{ bookmark.shortcut }}/>
            </form>
            </h5>
        </div>
        <div class="panel-body">
            <div>
                <p>Total Clicks: {{ bookmark.num_clicks }}</p>
            </div>
            {% if request.user.id == bookmark.creator.id %}
                <div class="button-group">
                <form action="{% url 'update_bookmark' bookmark.id %}" method="get">
                    <input type="submit" value="Edit"/>
                </form>
                <form action="{% url 'delete_bookmark' bookmark.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete"/>
                </form>
                </div>
            {% endif %}
        </div>
        </div>

    {% endfor %}
{% endblock %}
